

@{
    ViewBag.Title = "videos";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}





<div style="width:980px; margin:auto;">
    <div style="width: 460px; float: left; padding: 20px;">
        <embed width="400" height="200" src="https://www.youtube.com/v/ntKdgkN9zuw" />
        <p style="text-align:center" class="text-info">Sugar Cookie Nests Recipe</p>
    </div>
    <div style="width:460px; float:left; padding:20px; ">
        <embed width="400" height="200" src="https://www.youtube.com/v/R9dUlCgXvpQ" />
        <p style="text-align:center" class="text-info"> Baklava Recipe | Episode 1030 </p>
    </div>

    <div style="width: 460px; float: left; padding: 20px;">
        <embed width="400" height="200" src="https://www.youtube.com/v/CemSe2odl8w" />
        <p style="text-align:center" class="text-info">Homemade Pizza Recipe</p>
    </div>
    <div style="width:460px; float:left; padding:20px; ">
        <embed width="400" height="200" src="https://www.youtube.com/v/MFbb7Y8ycds" />
        <p style="text-align:center" class="text-info"> CHOCOLATE CAKE (PRESSURE COOKER)  </p>
    </div>

    
    <div style="width: 460px; float: left; padding: 20px;">
        <embed width="400" height="200" src="https://www.youtube.com/v/K1wj9pXuQns" />
        <p style="text-align:center" class="text-info">MANGO KULFA</p>
    </div>
    <div style="width:460px; float:left; padding:20px; ">
        <embed width="400" height="200" src="https://www.youtube.com/v/Cg_ru9bjpGo" />
        <p style="text-align:center" class="text-info">  CUSTARD TRIFLE RECIPE</p>
    </div>
    </div>

<div style="clear:both;"></div>
    